# History files
.Rhistory

# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
.Rproj.user
.Rapp.history
# Custom
Todo.md
packrat/lib*/
packrat/src/*
.DS_Store
#
# MK run hacky test in here
resolved-tool-contracts
# setup packrat env
setup.sh
builder.sh
